<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Hash#Jobs</title>
		<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8" />
		<link rel="stylesheet" href="/css/pagination.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<% if is_iphone(request) then %>
		<meta name="viewport" content="initial-scale = 1.0" /> 
		<link rel="stylesheet" href="/css/iphone.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<% end %>
	</head>
	<body>
	  <div id="header"><a href="/"><h1>Hash<span>#</span>Jobs</h1></a><br/>
	    <p>what the heck is this all <%= link_to '/about' %>?</p>
	  </div>
	  <div id="container"><%= yield %></div>
	  <div id="footer"><p>&copy; 2009. a flight of fancy by <a target="_blank" href="http://warrenseen.com">warren seen</a>.</p></div>	
	  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4271677-2");
pageTracker._trackPageview();
} catch(err) {}
      </script>
	</body>
</html>
